
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    margin: 0px;
    padding: 0px;
}


body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;

}

header {
    width: 100%;
    height: 28.7rem;
    margin: auto;
    gap: 0rem;
    opacity: 0rem;
    display: flex;
    background-image: url(assets/images/Header\ Background.png); 
    background-size: cover;
    background-position: center;
    background-clip: content-box;


}

.header-content {
    width: 47.3rem;
    height: 16.9rem;
    margin: auto;
    gap: 1.2 rem;
    opacity: 0px;
    display: flex;
    flex-direction: column;
}

.header-content h1 {
    width: 19,56rem;
    height: 7rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Luckiest Guy;
    font-size: 3,5rem;
    font-weight: 400;
    line-height: 3,5rem;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

}

.header-content p {
    width: 47.3rem;
    height: 4.1rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.36rem;
    text-align: center;
    color: #ffffff;
}

.bottons {
    width: 31.4rem;
    height: 2.75rem;
    gap: 2rem;
    opacity: 0rem;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

.baixar {
    width: 12.8rem;
    height: 2.75rem;
    gap: 0rem;
    border-radius: 1.75rem;
    opacity: 0px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.baixar p {
    width: 15.6rem;
    height: 1.37rem;
    top: 0.7rem;
    left: 1.4rem;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;   
    color:#23272A;   
}

.navegador {
    width: 281px;
    height: 44px;
    gap: 0px;
    border-radius: 28px;
    opacity: 0px;
    background-color:#23272A; 
    display: flex;
    align-items: center;
}

.navegador p {
    width: 250px;
    height: 22px;
    top: 11px;
    left: 23px;
    margin-left: auto;
    margin-right: auto;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;   
    color: #ffffff;
}

main {
    width: 100%;
    height: 100%;
    margin: auto;
}

.secao-01{
    width: 100%;
    height: 28rem;
    top: 58,3rem;
    opacity: 0rem;
}

.primeira-secao {
    width: 100%;
    height: 28.7rem;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 0rem;
    opacity: 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.primeira-secao img {
    width: 37,9rem;
    height: 24,6rem;
    gap: 0.5rem;
    opacity: 0rem;

}

.textos-primeira-secao {
    width: 21,75rem;
    height: 23,4rem;
    gap: 0rem;
    opacity: 0rem;
}

.textos-primeira-secao h3 {
    width: 20.56rem;
    height: 16.87rem;
    top: 0.62rem;
    left: 39.93rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Open Sans;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.4rem;
    text-align: left;
    margin: auto;
    margin-left: 0rem;
    color: #23272A;
}

.textos-primeira-secao p{
    width: 21.75rem;
    height: 5.5rem;
    top: 18.5rem;
    left: 38.9rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.36rem;
    text-align: left;
    margin: auto;
    color: #23272A;
}


.secao-02{
    width: 100%;
    height: 28rem;
    top: 58,3rem;
    opacity: 0px;
    background-color: #f6f6f6;
}

.segunda-secao {
    width: 100%;
    height: 28.7rem;
    margin: auto;
    gap: 0.5rem;
    opacity: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textos-segunda-secao{
    width: 21.9rem;
    height: 15.25rem;
    gap: 0rem;
    opacity: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.textos-segunda-secao h3 {
    width: 20.56rem;
    height: 6.75rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Open Sans;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.4rem;
    text-align: left;
    margin: auto;
    margin-left: 0rem;

}

.textos-segunda-secao p {
    width: 21,75rem;
    height: 5.5rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.36rem;
    text-align: left;
    margin: auto;
    color: #23272A;

}
.secao-03{
    width: 100%;
    height: 28rem;
    top: 58.3rem;
    opacity: 0rem;
    
}

.terceira-secao {
    width: 100%;
    height: 28.7rem;
    margin: auto;
    gap: 0rem;
    opacity: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.terceira-secao img{
    width: 37.93rem;
    height: 24.6rem;
    gap: 0rem;
    opacity: 0rem;

}

.textos-terceira-secao {
    width: 21.9rem;
    height: 14.6rem;
    gap: 0rem;
    opacity: 0rem;
}

.textos-terceira-secao h3 {
    width: 20.56rem;
    height: 6.75rem;
    margin: auto;
    margin-left: 0rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Open Sans;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.4rem;
    text-align: left;
    color: #23272A;
}

.textos-terceira-secao p {
    width: 21.75rem;
    height: 6.87rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.36rem;
    text-align: left;
    color: #23272A;


}

.secao-04{
    width: 100%;
    height: 46.5rem;
    top: 58.3rem;
    opacity: 0px;
    background-color: #f6f6f6;
}

.quarta-secao {
    width: 100%;
    height: 46.5rem;
    margin: auto;
    gap: 0rem;
    opacity: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textos-quarta-secao h3 {
    width: 38rem;
    height: 5rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Luckiest Guy;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;  
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.textos-quarta-secao p {
    width: 50.12rem;
    height: 2.75rem;
    gap: 0rem;
    opacity: 0rem;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.36rem;
    text-align: center;
    color: #23272A;

}

.quarta-secao img {
    width: 49rem;
    height: 31.75rem;
    gap: 0rem;
    opacity: 0rem;
}

footer{
    width: 100%;
    height: 134px;
    gap: 0px;
    opacity: 0px;
    background-color: #23272A;
    margin: auto;
    display: flex;
}

footer img {
    width: 230px;
    height: 63px;
    margin: auto;
    background-color: #23272A;
  

}

